<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['library']">Library</a>
      <a class="nav-item nav-link active" [routerLink]="['books']">Books</a>
      <a class="nav-item nav-link active" [routerLink]="['members']">Members</a>
      <a class="nav-item nav-link active" [routerLink]="['pipes']">Pipes</a>
      <a class="nav-item nav-link active" [routerLink]="['http']">Http</a>
      <a class="nav-item nav-link active" [routerLink]="['signup']">Sign-up</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>